#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
}

.board-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
}